<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-badge info">
                <i class="fa fa-mars" *ngIf="isMale"></i>
                <i class="fa fa-venus" *ngIf="!isMale"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Soy <strong>{{isMale ? 'varón' : 'mujer'}}</strong></h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-sm-3" [(ngModel)]="isMale" ngbRadioGroup name="radioBasic">
                            <label class="btn btn-primary form-control">
                                <input type="radio" [value]="true"> <i class="fa fa-male"></i> 
                            </label>
                            <label class="btn btn-primary form-control">
                                <input type="radio" [value]="false"> <i class="fa fa-female"></i> 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="fa fa-calendar"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ age ? 'Tengo ' + age + ' años' : 'Wut?' }}</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" class='form-control' [(ngModel)]="age">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-arrows-v"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ height ? 'Mido ' + height + (height > 0 ? ' centímetros' : ' centímetro') : 'Wut?' }}</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" class='form-control' [(ngModel)]="height">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="fa fa-tachometer"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ weight ? 'Peso ' + weight + (weight > 0 ? ' kilos' : ' kilo') : 'Wut?' }}</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" class='form-control' [(ngModel)]="weight">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-calculator"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Resultado de Harris-Benedict</h4>
                </div>
                <div class="timeline-body">
                    <p>TMB = (10 x peso en kg) + (6,25 × altura en cm) - (5 × edad en años) + 5 </p>
                    <p>TMB = (10 x {{weight}}) + (6,25 × {{height}}) - (5 × {{age}}) + 5</p>
                    <p>TMB = ({{10 * weight}}) + ({{6.25 * height}}) - ({{5 * age}}) + 5</p>
                    <p>TMB = {{(10 * weight) + (6.25 * height) - (5 * age) + 5}}</p>
                </div>
            </div>
        </li>
         <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="fa fa-calculator"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Calorias de mantenimiento</h4>
                </div>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" class='form-control' [(ngModel)]="weight">
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>