<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Comidas</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="col col-sm-6">
        <div class="card">
            <div class="card-header">
                Comidas de hoy
            </div>
            <p *ngIf="errorMessage">{{errorMessage}}</p>
            <div class="card-block">
                <!--<ng2-smart-table [hidden]="!pickingFoods" [settings]="settings" [source]="foods" (rowSelect)="rowSelect($event)"></ng2-smart-table>
                <ng2-smart-table [hidden]="pickingFoods" [settings]="settingsSelected" [source]="foodsSelected" (deleteConfirm)="deleteConfirm($event)"></ng2-smart-table>-->
                <ng2-smart-table [settings]="settingsSelected" [source]="foodsSelected" (deleteConfirm)="deleteConfirm($event)"></ng2-smart-table>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">
                Totales de hoy
            </div>
            <div class="card-block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true" chartType="bar"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-12">
        <div class="card">
            <div class="card-header">
                Catálogo de alimentos
            </div>
            <div class="card-block">
                <ng2-smart-table [settings]="settings" [source]="foods"></ng2-smart-table>
            </div>
        </div>
    </div>
</div>