<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Tus datos</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header card-info card-inverse">
                <i class="fa fa-user fa-fw"></i> Datos necesarios para el cálculo
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form role="form">
                        <fieldset class="form-group">
                            <label>Sexo</label>
                            <bSwitch name="sex" switch-class="form-control" switch-off-text="femenino" switch-on-text="masculino" switch-on-color="info"
                                switch-off-color="info" [(ngModel)]="isMale">
                            </bSwitch>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Edad</label>
                            <input type="number" class="form-control" [(ngModel)]="age" name="age">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Altura</label>
                            <input type="number" class='form-control' [(ngModel)]="height" name="height">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Peso</label>
                            <input type="number" class='form-control' [(ngModel)]="weight" name="weight">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Text Input with Placeholder</label>
                            <input class="form-control" placeholder="Enter text">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header card-info card-inverse">
                <i class="fa fa-cog fa-fw"></i> Fórmula Harris-Benedict
            </div>
            <div class="card-block">
                <div class="card-body" *ngIf="isMale">
                    <p>TMB = (10 x peso en kg) + (6,25 × altura en cm) - (5 × edad en años) + 5 </p>
                    <p>TMB = (10 x {{weight}}) + (6,25 × {{height}}) - (5 × {{age}}) + 5</p>
                    <p>TMB = ({{10 * weight}}) + ({{6.25 * height}}) - ({{5 * age}}) + 5</p>
                    <p><strong>TMB = {{ getTMB() }}</strong></p>
                </div>
                <div class="card-body" *ngIf="!isMale">
                    <p>TMB = (10 x peso en kg) + (6,25 × altura en cm) - (5 × edad en años) - 161 </p>
                    <p>TMB = (10 x {{weight}}) + (6,25 × {{height}}) - (5 × {{age}}) - 161</p>
                    <p>TMB = ({{10 * weight}}) + ({{6.25 * height}}) - ({{5 * age}}) - 161</p>
                    <p><strong>TMB = {{ getTMB() }}</strong></p>
                </div>
            </div>
        </div>
        <div class="card card-default my-3">
            <div class="card-header card-info card-inverse">
                <i class="fa fa-cog fa-fw"></i> Consumo de calorías diarias
            </div>
            <div class="card-body">
                <div class="card-block">
                    <p>Poco o nada de ejercicio <strong>{{ (getTMB() * 1.2).toFixed(2) }} calorías</strong></p>
                    <p>Ejercicio 1-3 días por semana <strong>{{ (getTMB() * 1.375).toFixed(2) }} calorías</strong></p>
                    <p>Ejercicio 3-5 días por semana) <strong>{{ (getTMB() * 1.55).toFixed(2) }} calorías</strong></p>
                    <p>Ejercicio 6-7 días por semana <strong>{{ (getTMB() * 1.725).toFixed(2) }} calorías</strong></p>
                    <p>Ejercicio dos veces al día <strong>{{ (getTMB() * 1.9).toFixed(2) }} calorías</strong></p>
                    <p>Déficit 15% <strong>{{ ( (getTMB() * 1.2) - (getTMB() * 0.15 )).toFixed(2) }} calorías</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>